// TABLE CSS
table {
  width: 100%;
}
.mat-header-cell {
  text-align: center;
  text-transform: uppercase;
}
.mat-cell {
  text-align: center;
}

// MODAL CSS
.modal-body {
  padding: 0 1rem 1rem 1rem;
}
.modal-header {
  padding: 1rem 1rem 0 1rem;
  border-bottom: 0px solid #e9ecef;
}